<html lang="en">
  
  <head class="container-fluid">
    <% include ../partials/header2 %>
  </head>

  <div class="page-header">
    <h3>Sign in</h3>
    <form action="POST" class="form-horizontal">
      <input type="hidden" name="_csrf", value="_csrf">
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-7">
            <input type="email" name="email" id="email" placeholder="Email" required autofocus>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3" for="password">Password</label>
          <div class="col-sm-7">
            <input type="password" name="password" id="password" placeholder="Password" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-7">
            <button class="col-sm-3 btn btn-primary" type="submit">
              <i class="far fa-user fa-sm">Login</i>
            </button>
            <a class="btn btn-link" href="/forgot">Forgot your password?</a>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-7">
            <a class="btn btn-block btn-google btn-social" href="/auth/google">
            <i class="fab fa-google-plus-g fa-xs">Sign in with Google</i>
            </a>
          </div>
        </div>
    </form>
  </div>
<!-- 
block content
  .page-header
    h3 Sign in
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)

    .form-group
      .col-sm-offset-3.col-sm-7
        hr
    .form-group
      .col-sm-offset-3.col-sm-7
        a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook', style={display: 'none'})
          i.fab.fa-facebook-f.fa-sm
          | Sign in with Facebook
        a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter', style={display: 'none'})
          i.fab.fa-twitter.fa-sm
          | Sign in with Twitter
        a.btn.btn-block.btn-google.btn-social(href='/auth/google')
          i.fab.fa-google-plus-g.fa-xs
          | Sign in with Google
        a.btn.btn-block.btn-github.btn-social(href='/auth/github', style={display: 'none'})
          i.fab.fa-github.fa-sm
          | Sign in with GitHub
        a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin', style={display: 'none'})
          i.fab.fa-linkedin-in.fa-sm
          | Sign in with LinkedIn
        a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram', style={display: 'none'})
          i.fab.fa-instagram.fa-sm
          | Sign in with Instagram -->
