extends ../layout




block content

  style.
    #map {
      width: 100%;
      height: 500px;
    }

  .page-header
    h2
      i.fab.fa-google.fa-sm
      | Google Maps API

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://developers.google.com/maps/documentation/javascript/tutorial', target='_blank')
      i.far.fa-check-square.fa-sm
      | Getting Started
    a.btn.btn-primary(href='https://console.developers.google.com/apis/dashboard', target='_blank')
      i.fas.fa-laptop.fa-sm
      | API Console

  h3 Markers Example
  

  a.btn.btn-primary(target='_blank', onclick="onSelectType()")
      i.fas.fa-laptop.fa-sm
      | Select
  a.btn.btn-primary(target='_blank', onclick="onLandType()")
      i.fas.fa-laptop.fa-sm
      | Land
  a.btn.btn-primary(target='_blank', onclick="onWaypointType()")
      i.fas.fa-laptop.fa-sm
      | Waypoint
  a.btn.btn-primary(target='_blank', onclick="onTakeoffType()")
      i.fas.fa-laptop.fa-sm
      | TakeOff
  a.btn.btn-primary(target='_blank', onclick="onChargeType()")
      i.fas.fa-laptop.fa-sm
      | Charge 



  .row
    .col-md-10
      #map
    .col-md-2
      .row
        .col-md-6
          p Title 1
        .col-md-6
          p Info 1
        .col-md-6
          p Title 2
        .col-md-6
          p Info 2
        .col-md-6
          p Title 3
        .col-md-6
          p Info 3
    a.btn.btn-primary(target='_blank', onclick="onUpdateMarker()")
      | Update




  script(src="js/views/missionPlanner/missionPlanner.js")
  script(src=`https://maps.googleapis.com/maps/api/js?key=${google_map_api_key}`)

  script.
    var mp = new MissionPlanner(document.getElementById('map'));
    mp.initMap();

    function onSelectType(){
      mp.onSelectType();
    }

    function onChargeType(){
      mp.onChargeType();
    }

    function onUpdateMarker() {
      console.log("update marker...");
    }
  