<html lang="en">

<head class="container-fluid">
  <% include ../partials/header2 %>
</head>
<div class="page-header container-fluid">
  <h2>
    <i class="fab fa-google fa-sm">Google Maps API</i>
  </h2>
</div>
<div class="container">
    <label for="importFile" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i> Custom Upload
    </label>
    <input id="importFile" type="file" accept=".plan"/>
</div>

<div class="container">
  <a class="btn btn-primary" target='_blank' , id="onSelectType">
    <i class="fas fa-laptop fa-sm">Select</i>
  </a>
  <a class="btn btn-primary" target='_blank' , id="onLandType">
      <i class="fas fa-plane-arrival fa-sm">Land</i>
  </a>
  <a class="btn btn-primary" target='_blank' , id="onTakeoffType">
      <i class="fas fa-laptop fa-sm">Takeoff</i>
  </a>
  <a class="btn btn-primary" target='_blank' , id="onWaypointType">
      <i class="fas fa-laptop fa-sm">Waypoint</i>
  </a>
  <a class="btn btn-primary" target='_blank' , id="onChargeType">
      <i class="fas fa-laptop fa-sm">Charge</i>
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div id="map" style="width:100%;height:500px;"></div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">Informations</div>
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">Type</label>
              <div class="col-sm-9">
                <input class="form-control" id="markerType" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Position</label>
              <div class="col-sm-9">
                <input class="form-control" id="markerPosition" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                  <button id ="onRemoveMissionItem" type="button" class="btn">Remove</button>
              </div>
              <div class="col-sm-6">
                <button id ="onUpdateMissionItem" type="button" class="btn">Update</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_drjnQ3ABYXMIUW-O4_mWLAepYPoCgQQ"></script>
<script>
  require([
    'jquery',
    'js/views/missionPlanner/missionPlanner.js'
  ], function ($, MissionPlanner) {

    function View() {
      let self = this;

      self.update = function (newMarkerTypeValue, newMarkerPositionValue) {
        if (newMarkerTypeValue) {
          document.getElementById('markerType').value = newMarkerTypeValue;
        }
        if (newMarkerPositionValue) {
          document.getElementById('markerPosition').value = newMarkerPositionValue.lat + ", " + newMarkerPositionValue.lng;
        }
      }
    }

    var mp = new MissionPlanner(new View(), document.getElementById('map'));

    mp.initMap();

    //setting click event
    function onRemoveMissionItem (event) {
      mp.onRemoveMissionItem();
    }

    function onUpdateMissionItem (event) {
    }
    

    document.getElementById('onRemoveMissionItem').addEventListener('click', onRemoveMissionItem, false);

    function handleFileSelect(event) {
      var file = event.target.files && event.target.files.length > 0 ?  event.target.files[0]: null;

      if (file) {
        var reader = new FileReader();
        reader.onload = function() {
          var text = reader.result;
          if (reader.result) {
            var jsonOutput = JSON.parse(reader.result);
            if (jsonOutput) {
              mp.importMission(jsonOutput);
            }
          }
        };
        reader.readAsText(file);
      }
    }

    document.getElementById('importFile').addEventListener('change', handleFileSelect, false);

    $('#onImport').on('click', function (event) {
      // var selectedFile = document.getElementById('importFile').files[0];
      // debugger;
    });

    $('#onSelectType').on('click', function (event) {
      mp.onSelectType();
    });

    $('#onLandType').on('click', function (event) {
      mp.onLandType();
    });

    $('#onTakeoffType').on('click', function (event) {
      mp.onTakeoffType();
    });

    $('#onWaypointType').on('click', function (event) {
      mp.onWaypointType();
    });

    $('#onChargeType').on('click', function (event) {
      mp.onChargeType();
    });
  });

</script>